# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.swp

# Folders
_obj
_test
var
build

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# GO Linux/Mac EXEs
harness/harness
tools/release

harness/var

harness/var/goleveldb_data/CURRENT

harness/var/goleveldb_data/LOG

harness/var/*.*

harness/redis/*.*

*.pprof

harness/var/goleveldb_data/CURRENT

harness/var/goleveldb_data/CURRENT

harness/var/goleveldb_data/CURRENT

harness/var/goleveldb_data/CURRENT

harness/var/goleveldb_data/LOCK

harness/var/goleveldb_data/LOG


*.zip

test_data/naprr/XMLData-2017-02-14.xml

*.pid
