{{- "Test Name"}},
{{- "Test Type"}},
{{- "Test Level"}},
{{- "Domain"}},
{{- "Item ID"}},
{{- "Item Subdomain"}},
{{- "Item Max. Score"}},
{{- "Item Correct Ans."}},
{{- "Item Descriptor"}},
{{- "Item Examplar Link"}},
{{- "Item Difficulty"}},
{{- "Item Type"}},
{{- "Item Weight"}},
{{- "Item Marking Type"}},
{{- "Item loc. in Testlet"}},
{{- "Testlet Node"}},
{{- "Testlet loc. in Test"}},
{{- "Testlet Name"}},
{{- "Testlet ID"}},
{{- "Testlet Max. Score"}},
{{- "Genre"}},
{{- "Stimulus"}},
{{- "Descriptor"}},
{{- "Audience Descriptor"}},
{{- "Audience Max"}},
{{- "Ch./Sett. Descriptor"}},
{{- "Ch./Sett. Max"}},
{{- "Cohesion Descriptor"}},
{{- "Cohesion Max"}},
{{- "Ideas Descriptor"}},
{{- "Ideas Max"}},
{{- "Para. Descriptor"}},
{{- "Para. Max"}},
{{- "Persuasive Devices Descriptor"}},
{{- "Persuasive Devices Max"}},
{{- "Punctuation Descriptor"}},
{{- "Punctuation Max"}},
{{- "Sentence Structure Descriptor"}},
{{- "Sentence Structure Max"}},
{{- "Spelling Descriptor"}},
{{- "Spelling Max"}},
{{- "Text Structure Descriptor"}},
{{- "Text Structure Max"}},
{{- "Vocabulary Descriptor"}},
{{- "Vocabulary Max"}}
