{{ printf "\"%s\"" .Test.TestContent.TestName}},
{{- .Test.TestContent.TestType}},
{{- .Test.TestContent.TestLevel}},
{{- .Test.TestContent.TestDomain}},
{{- .Item.TestItemContent.NAPTestItemLocalId}},
{{- .Item.TestItemContent.Subdomain}},
{{- .Item.TestItemContent.MaximumScore}},
{{- .Item.TestItemContent.CorrectAnswer}},
{{- .Item.TestItemContent.ItemDescriptor}},
{{- .Item.TestItemContent.ExemplarURL}},
{{- .Item.TestItemContent.ItemDifficulty}},
{{- .Item.TestItemContent.ItemType}},
{{- "Item Weight"}},
{{- .Item.TestItemContent.MarkingType}},
{{- .GetItemLocationInTestlet .Item.ItemID}},
{{- .Testlet.TestletContent.Node}},
{{- .Testlet.TestletContent.LocationInStage}},
{{- .Testlet.TestletContent.TestletName}},
{{- .Testlet.TestletContent.LocalId}},
{{- .Testlet.TestletContent.TestletMaximumScore}}
