{{ printf "\"%s\"" .Test.TestContent.TestName}},
{{- .Summ.SchoolACARAId}},
{{- .Summ.DomainNationalAverage}},
{{- .Summ.DomainSchoolAverage}},
{{- .Summ.DomainJurisdictionAverage}},
{{- .Summ.DomainTopNational60Percent}},
{{- .Summ.DomainBottomNational60Percent}}
