{{- "Test Name"}},
{{- "Test Type"}},
{{- "Test Level"}},
{{- "Domain"}},
{{- "Item ID"}},
{{- "Item Subdomain"}},
{{- "Item Max. Score"}},
{{- "Item Correct Ans."}},
{{- "Item Descriptor"}},
{{- "Item Examplar Link"}},
{{- "Item Difficulty"}},
{{- "Item Type"}},
{{- "Item Weight"}},
{{- "Item Marking Type"}},
{{- "Item loc. in Testlet"}},
{{- "Testlet Node"}},
{{- "Testlet loc. in Test"}},
{{- "Testlet Name"}},
{{- "Testlet ID"}},
{{- "Testlet Max. Score"}}
