{{- "DOB"}},
{{- "Sex"}},
{{- "Ind. Status"}},
{{- "LBOTE"}},
{{- "YearLevel"}},
{{- "ASL School ID"}},
{{- "HomeSchooled"}},
{{- "Parent1 School Education"}},
{{- "Parent1 NonSchool Education"}},
{{- "Parent 1 Occupation"}},
{{- "Parent2 School Education"}},
{{- "Parent2 NonSchool Education"}},
{{- "Parent2Occupation"}},
{{- "PlatformID"}},
{{- "School Name"}},
{{- "School Postcode"}},
{{- "School State"}},
{{- "School Suburb"}},
{{- "School Geolocation"}},
{{- "SchoolSector"}},
{{- "Writing"}},
{{- "Reading"}},
{{- "Spelling"}},
{{- "Grammar and Punctuation"}},
{{- "Numeracy"}}
