{{ .Student.BirthDate}},
{{- .Student.Sex}},
{{- .Student.IndigenousStatus}},
{{- .Student.LBOTE}},
{{- .Student.YearLevel}},
{{- .Student.ASLSchoolId}},
{{- .Student.HomeSchooledStudent}},
{{- .Student.Parent1SchoolEducation}},
{{- .Student.Parent1NonSchoolEducation}},
{{- .Student.Parent1Occupation}},
{{- .Student.Parent2SchoolEducation}},
{{- .Student.Parent2NonSchoolEducation}},
{{- .Student.Parent2Occupation}},
{{- .Student.GetOtherId "NAPPlatformStudentId"}},
{{- printf "\"%s\"" .School.SchoolName}},
{{- with $sci := index .School.SchoolContactList.SchoolContact 0 }}
{{- $sci.ContactInfo.Address.PostalCode}},
{{- $sci.ContactInfo.Address.StateProvince}},
{{- $sci.ContactInfo.Address.City}},
{{- end}}
{{- .School.SchoolGeographicLocation}},
{{- .School.SchoolSector}},
{{- index .Summary "Writing"}},
{{- index .Summary "Reading"}},
{{- index .Summary "Spelling"}},
{{- index .Summary "Grammar and Punctuation"}},
{{- index .Summary "Numeracy"}}
