# ============================================================================
# Basic Config
# 
# ============================================================================

# Baseline year for DOB checks
TestYear = "2017"

# ValidationRoute = ["schema", "local","schema2", "dob", "id","asl", "psi", "numericvalid"]
ValidationRoute = ["schema", "schema2", "dob", "id","asl", "psi", "numericvalid"]

# Webserver port
WebServerPort = "1325"




# ============================================================================
# Advanced parameters
# 
# ============================================================================
# 
# how many records to validate before sending update message 
# to web ui
TxReportInterval = 500
# 
# number of validation error messages to show for
# review in web ui - can be set as high as 10k 
# but graphs will be hard to navigate
UIMessageLimit = 1000
# 
# for any given files how many validation errors to store
# for report download 
TxStorageLimit = 10000
# 
# 
# ============================================================================
# Poolsize; number of worker processes to run concurrently
PoolSize = 3
# notes:
# 
# best initial sizing is number of cores on machine -1; each core gets a 
# processor chain, with one left for database processes.
# 
# only run large poolsizes (> 30 workers) on mac/linux, tcp will throttle on
# windows. 
# also note above poolsize 50 on mac increase ulimits from default (256) e.g.
# $ ulimit -n 2048
# otherwise tcp will run out of aviailable file handles
# ============================================================================

